@model Attempt1.Models.UvCheckViewModel
@{
    ViewBag.Title = "Home Page";
}

<!-- loca weather data performed with AJAX -->
<form onsubmit="return showWeather()" id="form" class="form-horizontal">
    <h3>Find out the weather in your city</h3>
    <input type="text" id="city" class="form-control"/>
    <input type="submit" class="btn btn-default"/>
</form>
<h4><span class="label label-primary" id="weather"></span></h4>

<!-- loca UV data performed with postback -->
@using (Html.BeginForm("UvCheck","Home",FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h3>Find out the UV radiation in you area</h3>
    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @id = "City" })
    <input type="submit" class="btn btn-default"/>
}
@if (ViewData.Model?.Data != null)
{
    <h4><span class="label label-primary">@ViewData.Model.Data.ToString()</span></h4>
}

<script>
    //prevent the call to the server and get the data from the API
    function showWeather() { 
        var url = "http://api.openweathermap.org/data/2.5/weather?q=" +
            $("#city").val()+
            "&appid=1ba143b505a2207077d699393fb7aeb2";

        $.get(url, function (data) {
            var x = data.weather[0].description;
            $("#weather").html(x)});
        return false;
    }
</script>
